<p id="notice"><%= notice %></p>
<div class="index_table">
<p>
  <b>Name:</b>
  <%= @location.name %>
</p>
</div>
<br />
<br />

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
